* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: 'Merriweather', serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  background-color: #efefef;
}

img {
  display: block;
  max-width: 100%;
}

p {
  margin-bottom: 1rem;
}

h1,
h2,
h3 {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0.3em;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.375rem;
}

li {
  font-size: 0.875rem;
}

#main-header {
  background-color: #f6f6f6;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 60px;
}

.recipes-list {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  align-items: center;
}

.card-btn {
  display: block;
  text-decoration: none;
  color: black;
}

.card-btn > * {
  pointer-events: none;
}

.card-btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-btn__image-wrap {
  transition: all 0.2s ease-out;
  border-top-left-radius: 100%;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-top-right-radius: 100%;
  border-right-color: coral;
  border-right-style: solid;
  border-right-width: 2px;
  border-left-color: coral;
  border-left-style: solid;
  border-left-width: 2px;
  border-top-color: coral;
  border-top-style: solid;
  border-top-width: 2px;
  border-bottom-color: coral;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.card-btn__image-wrap img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
  object-fit: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.card-btn:hover .card-btn__image-wrap {
  transform: scale(1.2);
}

.card-btn__text-wrap {
  padding: 10px 10px;
  font-size: 0.625rem;
}

.card-btn__text-wrap p {
  margin-bottom: 0;
}

.recipe-details {
  max-width: 70rem;
  background-color: #fff;
  border-top: 5px solid coral;
  margin: 0 auto;
  padding: 40px 20px;
}

.recipe-details__header {
  padding: 0 20px;
}

.recipe-details__descriptions {
  font-style: italic;
  font-size: 1rem;
  color: #666;
}

.recipe-details__content {
  display: flex;
  flex-direction: column;
}

.recipe-details__directions {
  flex: 3;
  padding: 0 20px;
  order: 1;
}

.recipe-details__image {
  margin-bottom: 2rem;
}

.recipe-details__directions ol {
  list-style: none;
  counter-reset: directions;
}

.recipe-details__directions ol li {
  counter-increment: directions;
  margin-bottom: 10px;
}
.recipe-details__directions ol li::before {
  content: counter(directions) '. ';
  color: coral;
  font-weight: bold;
  font-size: 1.375rem;
  padding-right: 5px;
}

.recipe-details__ingredients {
  flex: 2;
  padding: 0 20px 20px;
  order: 0;
}
.recipe-details__ingredients-list {
  list-style-type: none;
}
.recipe-details__ingredients-list li {
  margin-bottom: 10px;
}

.special {
  position: relative;
  padding-left: 20px;
  margin-top: 5px;
  font-size: 12px;
  font-style: italic;
}
.special__type {
  font-weight: bold;
  color: #000;
  text-transform: capitalize;
}
.special__text {
  display: block;
}
.special::before {
  position: absolute;
  left: 10px;
  top: 2px;
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid coral;
}

@media (min-width: 600px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.75rem;
  }
  li {
    font-size: 1rem;
    margin-right: 5px;
  }
  .card-btn__text-wrap {
    padding: 10px 10px 0;
    font-size: 0.8125rem;
  }
  .recipe-details__descriptions {
    font-size: 1.125rem;
  }
  .recipe-details__content {
    flex-direction: row;
  }
  .recipe-details__directions {
    order: 0;
  }
  .recipe-details__ingredients {
    order: 1;
  }
  .recipe-details__directions ol li {
    margin-bottom: 1rem;
  }
}
